/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  font-family: "Fraunces", serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 20px;
}

.header-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-item:not(:last-child) {
  margin-right: 33px;
}

.header-list-link {
  white-space: nowrap;
  color: #83888F;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-btn {
  display: none;
  border: none;
  background-color: transparent;
}

.header-close {
  display: none;
}

@media only screen and (max-width: 800px) {
  .header {
    position: relative;
    max-width: 800px;
    width: 100%;
  }
  .header-btn {
    display: inline-block;
  }
  .header-list {
    display: none;
  }
  .header-close {
    display: none;
  }
  .header--open .header-nav {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    z-index: 5;
  }
  .header--open .header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #fff;
    color: #000;
    height: 100vh;
    width: 100%;
  }
  .header--open .header-btn {
    display: none;
  }
  .header--open .header-close {
    display: inline-block;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    max-width: 400px;
    width: 100%;
  }
}
/* HERO */
.hero {
  background-image: url(../img/Bitmap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding: 110px 86px;
  border-radius: 10px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-heading {
  margin: 0;
  color: #FEFCF7;
  font-family: Fraunces 9pt;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  width: 493px;
}

.hero-text {
  margin: 32px 0 56px;
  width: 445px;
  opacity: 0.8;
  color: #FEFCF7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.header-close {
  display: none;
  border: none;
  background-color: transparent;
}

.btn {
  padding: 16px 31px;
  border: none;
  width: 225px;
  color: #FEFCF7;
  text-align: center;
  font-family: Fraunces 9pt;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  border-radius: 6px;
  background: #0E8784;
}

@media only screen and (max-width: 800px) {
  .hero {
    background-image: url(../../img/Bitmap800.jpg);
    background-position: center;
    max-width: 800px;
    width: 100%;
    padding: 100px 58px;
  }
  .hero-heading {
    font-size: 48px;
    line-height: 48px;
    width: 398px;
  }
  .hero-text {
    margin: 24px 0 40px;
    width: 400px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .hero {
    background-image: url(../../img/intro-bg-mobile-1.jpg);
    padding: 100px 25px;
    max-width: 400px;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .hero-heading {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    width: 280px;
  }
  .hero-text {
    margin: 24px 0 40px;
    text-align: center;
    width: 280px;
    font-size: 15px;
    line-height: 25px;
  }
}
/* COLLECTION */
.collection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}

.collection__title {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #83888F;
  color: transparent;
  text-align: center;
  font-size: 150px;
  font-weight: 900;
  background: -webkit-linear-gradient(270deg, rgba(254, 252, 247, 0) 0%, #FEFCF7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #83888F;
}

.collection__list {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.collection__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__item:not(:last-child) {
  margin-right: 30px;
}

.collection__heading {
  margin: 0;
  margin-top: 71px;
  margin-bottom: 24px;
  color: #333D4B;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.collection__text {
  margin: 0;
  text-align: center;
  color: #333D4B;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 255px;
}

@media only screen and (max-width: 800px) {
  .collection {
    padding-top: 144px;
    padding-bottom: 953px;
  }
  .collection__title {
    max-width: 400px;
    width: 100%;
    font-size: 96px;
  }
  .collection__list {
    flex-direction: column;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .collection__item {
    flex-direction: column;
    align-items: center;
  }
  .collection__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 400px) {
  .collection {
    padding-top: 120px;
  }
  .collection__title {
    max-width: 375px;
    width: 100%;
    font-size: 40px;
  }
  .collection__list {
    flex-direction: column;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .collection__item {
    flex-direction: column;
    align-items: center;
  }
  .collection__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 48px;
  }
  .collection__heading {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}
.radios {
  margin: 0 auto;
  margin-top: 200px;
  padding: 168px 20px;
  max-width: 1110px;
  width: 100%;
}

.radios__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.radios__left {
  display: flex;
  flex-direction: column;
}

.radios__left-heading {
  margin: 0;
}

.radios__left-heading-link {
  text-decoration: none;
  color: rgba(51, 61, 75, 0.25);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.radios__left-heading-link::before {
  margin-right: 28.5px;
  color: rgba(51, 61, 75, 0.25);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  content: "01";
}

.radios__left-heading-open .radios__left-heading-link {
  color: #333d4b;
}

.radios__left-heading-open .radios__left-heading-link::before {
  color: #0E8784;
}

.radios__left-heading:not(:last-child) {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
}

.radios__right_sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radios__result-desc {
  margin: 0;
  max-width: 600px;
  width: 100%;
}

.radios__right {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.radios__section {
  display: flex;
  flex-direction: column;
}

.radios__section:not(:last-child) {
  margin-bottom: 88px;
}

.radios__right-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
  background: transparent;
  border: none;
  width: 730px;
  width: 100%;
}

.radios__right-select-open .radios__label {
  display: flex;
}

.radios__right-select-open .radios__list-img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.radios__right-heading {
  margin: 0;
  color: #83888F;
  font-size: 32px;
  font-weight: 900;
  line-height: 48px;
}

.radios__input-layout {
  display: flex;
  align-items: center;
}

.radios__label {
  display: none;
  flex-direction: column;
}

.radios__label:not(:last-child) {
  margin-right: 23px;
}

.radios__label-inner {
  display: flex;
  flex-direction: column;
  padding: 32px 28px 84px;
  border-radius: 8px;
  background-color: #F4F1EB;
  color: #333D4B;
  max-width: 228px;
  width: 100%;
  cursor: pointer;
}

.radios__input {
  display: none;
}

.radios__input:checked + .radios__label-inner {
  background-color: #0E8784;
  color: #FEFCF7;
}

.radios__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.radios__text {
  margin: 0;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media only screen and (max-width: 800px) {
  .radios {
    margin-top: 800px;
  }
  .radios__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .radios__left {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .radios__right-heading {
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
  }
  .radios__input-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .radios__label:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .radios__label-inner {
    padding: 24px 25px;
    color: #333D4B;
    max-width: 600px;
    width: 100%;
  }
  .radios__title {
    max-width: 278px;
    width: 100%;
  }
  .radios__text {
    max-width: 278px;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */